.DS_Store
.nodemonignore
.sass-cache/
node_modules/
public/lib
test/coverage/
*~
*.xcuserstate
# xcode noise
build/*
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
*.mode1
*.mode2v3
*.mode1v3
xcuserdata
Snapshots
 
# osx noise
.DS_Store
iOS/Trippie_v2/Trippie/Frank/frankified_build/
iOS/Trippie_v2/Trippie/build