<section data-ng-controller="TripsController" data-ng-init="find()">
	<ul class="trips unstyled">
		<li style="list-style: none;" data-ng-repeat="trip in trips">
			<button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">{{trip.name}}</button>
			<hr>
			<div collapse="!isCollapsed">
				<div class="well well-lg">Some content</div> 
			</div>
		</li>
	</ul>
	<h1 data-ng-hide="!trips || trips.length">No trips yet. <br> Why don't you <a href="/#!/trips/create">Create One</a>?</h1>
</section>
