<section data-ng-controller="TripsController" data-ng-init="find()">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 text-center"><a data-ng-href="#!/trips/create" class="btn btn-default btn-block"><span class="glyphicon glyphicon-plus"></span> New Trip</a></div>
	</div>
	<br/>
	<div data-ng-repeat="trip in trips" class="col-md-10 col-md-offset-1 trip">
		<div class="row">
			<div class="col-sm-6"><a data-ng-href="/#!/trips/{{trip._id}}" class="name">{{trip.name}}</a></div>
			<div class="col-sm-6 hidden-xs">
				Start: <span class="glyphicon glyphicon-calendar"></span> {{trip.tripStartDate | date:'longDate'}}</br>
				End: <span class="glyphicon glyphicon-calendar"></span> {{trip.tripEndDate | date:'longDate'}}</br>
				<span class="glyphicon glyphicon-map-marker"></span> {{trip.destinationList.length}} destinations
			</div>
			<div class="col-sm-6 visible-xs">
				Start: <span class="glyphicon glyphicon-calendar"></span> {{trip.tripStartDate | date:'longDate'}}</br>
				End: <span class="glyphicon glyphicon-calendar"></span> {{trip.tripEndDate | date:'longDate'}}</br>
				<span class="glyphicon glyphicon-map-marker"></span> {{trip.destinationList.length}} destinations
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12 text-center"><h2 data-ng-hide="!trips || trips.length">No trips yet. Why don't you <a href="/#!/trips/create">create one</a>?</h2></div>
	</div>
</section>
