<section data-ng-controller="EventsController" data-ng-init="findOne()">
	<div class="container-fluid">
		<form class="form-horizontal" role="form" data-ng-submit="create()">
			<div class="row">
				<h1 class="text-left">Create Event</h1>
				<hr/>
			</div>

			<!-- event.name input -->
			<div class="row form-group">
				<label for="name" class="control-label">Event Name</label>
				<input type="text" class="form-control" data-ng-model="name" id="name" placeholder="Name" required>
			</div>
			<!-- event.information input -->
			<div class="row form-group">
				<label for="information" class="control-label">Event Info</label>
				<input type="text" class="form-control" data-ng-model="information" id="information" placeholder="Information" required>
			</div>
			<div class="row">
				<!-- event.eventStartDate picker -->
				<div class="form-group col-md-6">
					<label for="eventStartDate" class="control-label">Start Date</label>
					<div class="well well-sm">
						<datepicker min="minDate" id="eventStartDate" ng-model="eventStartDate" show-weeks="false"></datepicker>
					</div>	
				</div>

				<!-- event.eventEndDate picker -->
				<div class="form-group col-md-6">
					<label for="eventEndDate" class="control-label">End Date</label>
					<div class="well well-sm">
						<datepicker min="eventStartDate" id="eventEndDate" ng-model="eventEndDate" show-weeks="false"></datepicker>
					</div>	
				</div>
			</div>

			<!-- Submit button -->
			<div class="row form-group">
				<button type="submit" class="btn btn-default">Create</button>
			</div>
		</form>
	</div>
</section>
