extends ../layouts/default

block content
  .col-md-6.col-md-offset-3
    if message && message.length
      .fade.in.alert.alert-error
        button.close(type="button", data-dismiss="alert") &times;
        strong #{message}
    block auth
