<section data-ng-controller="DestinationsController" data-ng-init="findOne()">
	<form class="form-horizontal col-md-10" role="form" data-ng-submit="create()">
		<h1 class="text-left col-md-offset-2">Create Destination</h1>
		<hr/>

		<!-- destination.name input -->
		<div class="form-group">
			<label for="name" class="col-md-2 control-label">Name</label>
			<div class="col-md-10">
				<input type="text" class="form-control" data-ng-model="name" id="name" placeholder="Name" required>
			</div>
		</div>

		<!-- Submit button -->
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<button type="submit" class="btn btn-default">Create</button>
			</div>
		</div>

	</form>
</section>