<section data-ng-controller="DestinationsController" data-ng-init="findOne()" class="destination-details">
    <div class="container-fluid">
    	<!-- Destination info -->
        <div class="row destination-info">
    	    <div class="col-md-10">
	        <div class="destination-name">{{destination.name}}</div>
	    </div>
            <!--<div class="col-md-2 text-right destination-options">
                <a class="" data-ng-href="/#!/destinations/{{destination._id}}/edit"><span class="glyphicon glyphicon-edit"></span> Edit</a><br/>
        		<a class="" data-ng-click="remove();"><span class="glyphicon glyphicon-trash"></span> Delete</a>
            </div>-->
    	</div>

        <!-- Events -->
        <div data-ng-repeat="event in destination.eventList" class="col-md-10 col-md-offset-1 event">
    		<div class="row">
                <div class="col-sm-9">{{event.name}}</div>
                <div class="col-sm-3 hidden-xs">
                        <span class="glyphicon glyphicon-calendar"></span> {{event.eventStartDate | date:'longDate'}} <br/>
                        <span class="glyphicon glyphicon-calendar"></span> {{event.eventEndDate | date:'longDate'}} <br/>
                </div>
                <div class="col-sm-4 visible-xs">
                        <span class="glyphicon glyphicon-calendar"></span> {{event.eventStartDate | date:'longDate'}} &nbsp;
                        <span class="glyphicon glyphicon-calendar"></span> {{event.eventEndDate | date:'longDate'}} &nbsp;
                </div>
            </div>
        </div>
	<div class="row">
                <div class="col-md-12"><h2 data-ng-hide="destination.evenList.length">No events yet.<br> <!--Why don't you <a href="/#!/events/create">Create One</a>?-->But the event creation feature is coming soon!</h2></div>

    </div>
</section>
