<section data-ng-controller="DestinationsController" data-ng-init="findOne()" class="destination-details">
    <div class="container-fluid">
        <div class="row">
            <a class="link" href="/#!/trips/{{trip._id}}">Back to {{trip.name}}</a>
        </div><br/>
    	<div class="row destination-info">
    		<div class="col-md-12">
                <div class="destination-name">{{destination.name}}</div>
    		</div>
            <div class="col-md-2 text-right destination-options">
                <a class="link" href="/#!/trips/{{trip._id}}/destinations/{{destination._id}}/edit"><span class="glyphicon glyphicon-edit"></span> Edit</a><br/>
        		<span data-ng-if="trip.destinationList.length > 3 && trip.destinationList[0]._id != destination._id && 
                    trip.destinationList[trip.destinationList.length -1]._id != destination._id"><a class="link" data-ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</a>
            </div>
    	</div>

    	<div class='row'>
            <div data-ng-include src="'/views/notes/partials/notes.html'">
    	</div>
    </div>
</section>
