<div ng-controller="LodgingsController">
    <form class="form-horizontal">
        <div class="modal-header">
            Create lodging
        </div>
       
        <div class="modal-body">
            <div class="row form-group">
                <label for="name" class="col-md-3 control-label">Name</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" data-ng-model="name" id="name" placeholder="Name" required>
                </div>
            </div>

            <div class="row form-group">
                <label for="address" class="col-md-3 control-label">Address</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" data-ng-model="address" id="address" placeholder="Address" required>
                </div>
            </div>

            <div class="row form-group">
                <label for="information" class="col-md-3 control-label">Information</label>
                <div class="col-md-9">
                    <textarea rows="3" maxlength="255" class="form-control" data-ng-model="information" id="information" placeholder="Information" required></textarea>
                </div>
            </div>

            <div class="row text-center">
                <div class="form-group col-md-6">
                    <label for="arrivalDate" class="control-label">Arrival Date</label>
                    <div class="well well-sm">
                        <datepicker min="minDate" id="arrivalDate" ng-model="arrivalDate" show-weeks="false"></datepicker>
                    </div>  
                </div>

                <div class="form-group col-md-6">
                    <label for="departureDate" class="control-label">Departure Date</label>
                    <div class="well well-sm">
                        <datepicker min="tripStartDate" id="departureDate" ng-model="departureDate" show-weeks="false"></datepicker>
                    </div>  
                </div>
            </div>
        </div>
        
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="save()">Save</button>
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</div>