<div class='col-md-12' data-ng-controller="NotesController" data-ng-init='find()'>
	<div class="notes">
		<div class='name'>Notes<a class="pull-right" ng-click="openModalCreate()">+ Add</a></div>
		<div data-ng-repeat="note in notes" class='note'>
			<b><span ng-click="findOne(note._id)">{{note.name}}:</span></b>
			<div>{{note.information}}</div>
			<a ng-click="openModalEdit(note)">Edit</a>   -   <a ng-click="remove(note)">Delete</a><br/>
		</div>
		<div data-ng-hide="!notes || notes.length">No notes yet..</div>
	</div>
</div>
