.transportation {
	margin-top: 10px;
}

.transportation-info {
	border: 1px solid black;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	position: relative;
	padding: 10px;
	margin-top: 10px;
}

.transportation-name {
	font-size: 30pt;
	font-weight: bold;
}

.transportation-options {
	position: absolute;
	top: 10px;
	right: 0px;
}