h1 {
    text-align:center
}

ul.trips li:not(:last-child) {
    border-bottom:1px solid #ccc
    text-align:center; 
}

.trips {
	border-top: 1px solid;
}

.trip {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid;
}

.trip .name {
	font-size: 18pt;
}

.glyphicon {
	font-size: 9pt;
}

.trip-details .name {
	font-size: 21pt;
	font-weight: 500;
}